:root {

  --cl-primary: #737373;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

ul {
  list-style: none;
}

button {
  padding: 3px 7px;
  line-height: 1;
  cursor: pointer;
  border: none;
}